apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      containers:
        - name: admin
          image: ashish358/app-admin:latest  # Replace with your Docker Hub image
          ports:
            - containerPort: 5174
          env:
            - name: VITE_API_URL
              value: "http://backend-service:4000"
      
---
apiVersion: v1
kind: Service
metadata:
  name: admin-service
spec:
  selector:
    app: admin
  ports:
    - protocol: TCP
      port: 5174
      targetPort: 5174
  type: LoadBalancer
